body {
  background: radial-gradient(circle, rgba(50,69,87,1) 0%, rgba(35,57,74,1) 34%, rgba(53,78,105,1) 71%, rgba(65,88,119,1) 93%);
}

.container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 200px;
  text-align: center;
}

.card {
  background-color: #DDE6ED;
  padding: 25px;
  border-radius: 20px;
  width: auto;
  height: auto;
}

h1 {
  margin-bottom: 20px;
  color: #40597b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
}

.fieldgroup-1 {
  width: auto;
  height: auto;
  position: relative;
}

.fa-user {
  position: absolute;
  left: -2px;
  top: 13px;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #526D82
}

.fieldgroup-2 {
  width: auto;
  height: auto;
  position: relative;
}

.fa-lock {
  position: absolute;
  left: -2px;
  top: 14px;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #526D82
}

label[for="Name"],
label[for="Password"] {
  margin-right: 75%;
  color: #40597b;
  font-weight: 700;
  font-size: small;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"],
input[type="password"] {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  width: 87%;
  padding: 10px;
  padding-left: 35px;
  border: none;
  border-radius: 25px;
  margin-top: 1%;
  -webkit-text-fill-color: #a9a9a9;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #526D82;
  color: white;
  border: none;
  border-radius: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin-top: 40px;
  font-size: 100%;
  cursor: pointer;
}